html {
  -webkit-font-smoothing: antialiased;
}

body {
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #e6e8dd;
  background: #f1eef0 url("../img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body.loaded {
  opacity: 1;
}

/* LINKS */
a:link, a:visited {
  color: #e6e8dd;
}

a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

#topHeader {
  width: 100%;
  padding: 10px;
}

#user1logo {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  width: 90px;
}

#hero > h1 {
  font-weight: 100;
  font-size: 6vw;
  line-height: 1;
}

#hero {
  padding-top: 100px;
  text-align: center;
  margin: 0 10%;
}

#subHeader {
  font-size: 3vw;
  font-weight: 100;
  text-align: center;
  width: 100%;
  position: absolute;
}

.cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 10% 0 10%;
  padding-top: 5vw
}

.cards > .card {
	flex: 1;
	margin: 2%;
  text-align: center;
}

.card {
	padding: 10px;
  margin: 3% 12% 0 12%;
  background-color: #665B67;
  box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  font-size: 15px;
}

.cardTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  width: 100%;
  margin-bottom: 4px;
  color: #FFFFFF;
}

.card .section {
  margin-bottom: 20px;
}

.card .description {
  margin: 5px 5% 0 5%;
}

.roundedCorners {
  border-radius: 4px;
}

.keyProjectSectionImage {
  border-radius: 4px;
  width: 30%;
}

.sticky {
  position: fixed !important;
  top: 0;
}

.centre {
  margin: 0 auto;
  text-align: center;
}

.fadeBackground {
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.fadeOpacity {
  -webkit-transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -o-transition: opacity 250ms linear;
  -ms-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

@media screen and (max-width: 730px) {
	.cards .card {
		flex-basis: 100%;
	}
}
